@font-face {
    font-family: "Circular Std";
    src: url("fonts/circularstdbook.ttf");
}

@font-face {
    font-family: "Circular Std";
    src: url("fonts/circularstdbookitalic.ttf");
    font-style: italic;
}

@font-face {
    font-family: "Circular Std";
    src: url("fonts/circularstdmedium.ttf");
    font-weight: bold;
}

@font-face {
    font-family: "Circular Std";
    src: url("fonts/circularstdmediumitalic.ttf");
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: "Circular Std";
    src: url("fonts/circularstdbold.ttf");
    font-weight: bolder;
}


html {
  font-family: "Circular Std"
}

body {

}

.button {
  background: transparent;
  font-weight: 600;
  font-style: italic;
  font-size: 14px;
}

.button:hover {
  cursor: pointer;
}

h1 {
  font-style: italic;
}

#title {
  //margin: auto;
  border: 4px solid black;
  //max-width: 800px;
}

#pageWrap {
  max-width: 700px;
  margin: 0 auto;
  text-align: center;
}

#canvasWrap {
  border: 4px solid black;
  padding-bottom: 20px;
}
